# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented code
lib-cov
coverage

# Dependency directories
node_modules/

# Production build
dist/

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.local
